Hi <br/>


Your account has been created<br/><br/>

Please click on the link to verify your account<br />

<a href="http://localhost:3000/people/validateEmail?slug=<%= @person.slug %>">Click Here</a>


Thanks< br />
Admin


